nav.game-menu {
  display: flex;
  .menu-item {    
    background-color: var(--light-gray);
    height: 40px;
    width: 105px;
    border: none;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    margin: 20px;
  }
}