@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {  
  --gray-dark: #696969;
  --gray-light: #838383;
  --light: #f0f8ff;
  --red-vivid: #c22222;
  --red-opaque: #dd3a3a;
  --light-grayish: #dadada;
  --light-gray: #c7c7c7;
  --dark: #363636;
  --secondary: #0080C9;
  --primary: #21BE12;
  --white: #ffffff;
  --sepia: #ffe4c4;
}

body {
  background-color: var(--sepia);
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Roboto';
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}